* {
  font-family: Book Antiqua, Georgia;
  line-height: 1.5;
  background-color: bisque;
}

section {
  margin: 2em;
}

a:hover, a:focus {
  color: greenyellow;
}

header, ol {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.menu {
  margin-left: 2em;
  margin-right: 2em;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}

h1 {
  display: none;
}

h3 {
  text-align: left;
}

p {
  text-align: justify;
}

@media (max-width: 600px) {
  .content, body, ol {
    display: block;
    margin: 0.25em;
    font-size: 95%;
}
