* {
  font-family: Book Antiqua;
  max-width: 30rem;
  margin: 0 auto;
  line-height: 1.5;
}

header {
  width: auto;
  border: 1px dotted green;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

section {
  margin-bottom: 25px;
  margin-top: 25px
}
